@model MySensei.Models.UserEditModel
<h2>Edit User</h2>
@Html.ValidationSummary()
@using (Html.BeginForm())
{
    <div class="row">
        @Html.HiddenFor(x => x.ID)

        @Html.Partial("~/Views/Shared/_EditUser.cshtml", Model)
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
}