@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
@font-face {
    font-family: 'Logo_Font_FingerpaintRegular';
    src: url('../fonts/Logo_Font_FingerpaintRegular.ttf') format('truetype');
}
*,
*:after,
*:before {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  max-width: 1000px;
  width: 100%;
  color: white;
  font-weight: 300;
  height: 1500px;
  margin: auto;
}
body ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
body :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
body ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
body :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
.wrapper {
  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  width: 100%;
  height: 50vh;
  margin-top: 0px;
  overflow: hidden;
  background-image: url('../img/banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Logo_Font_FingerpaintRegular', cursive;
  text-align:center;
  padding-top: 20px;
}

.wrapper.les {
  height: 100px;
}

.container {
    max-width: 600px;
    margin: 200px auto;
    padding: 50px 0;
    height: 400px;
    text-align: center; 
}

.search {
    width: 100%;
    height: 60px;
    color: black;
    text-align: center;
    background-color: #f4f5ee;
}

.search-box {
    margin: auto;
    width: 75%;
}
#search_bar {
    padding: 5px;
    float: left;
    left: 50%;
}
#search_bar.les {
    float: none;
}
.feedback-input {
	color:#3c3c3c;
  font-weight:500;
	font-size: 14px;
	border-radius: 0;
	line-height: 18px;
	background-color: #fff;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width: 200px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.dropdowns {
    width: 100%;
    height: 150px;
    background-color: #eff4d6;
    margin-bottom: 10px;
    padding: 10px 50px;
    color: darkslategrey
}
.title h1{
    color: black;
    font-weight: bold;
    text-align: center;
}
.courses-cont {
    width: 100%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    color: black;
}
.courses {
    width: 90%;
    overflow: auto;
    display: inline-block;
    border: 1px solid #bababa;
    padding: 5px;
    margin: 10px auto;
}

.circular, .courses img {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    background-image: url('../img/avatar.jpg');
    background-position: center;
    background-size: 120px 120px;
    margin: 15px;
    float: left;
}

.description {
    width: 50%;
    padding-left: 5px;
    border-left: 1px solid #bababa;
    float: left;
}
.price {
    width: 20%;
    float: right;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 20px;
  width: 120px;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: gold;
}

/* Icons ---------------------------------- */
#searchString {
    background-image: url('../img/lesson_icon.png');
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
    color: #808080;
}

#SearchString:focus{
	background-image: url('../img/lesson_icon.png');
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	width: 150px;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #47b7b7;
	color:white;
	font-size:14px;
	padding-top:10px;
	padding-bottom:10px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}
/*.ddl {
   width: 200px;
   height: 40px;
   background-color: #FFF;
   line-height: 1;
   vertical-align: middle;
}*/

.ddl select {
   width: 200px;
   padding: 3px;
   font-size: 14px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 40px;
   margin-top: 5px;
   -webkit-appearance: none;
   color: grey;
}
/*#CITY select {
    height:40px;
    margin-top: 5px;
}*/
#button-blue:hover{
	/*background-color: rgba(0,0,0,0);*/
    background-color: #c2f5f5;
	color: #fff;
}
/*-------------------------------*/
.categories {
    width: 100%;
    min-height: 70vh;
    color: black;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.category-box {
    width: calc(33% - 25px);
    height: 180px;
    margin: 10px;
    padding: 5px;
    padding-top: 60px;
    background-color: #f4f5ee;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    /*line-height: 170px;*/
}
.category-box a {
    color: #fff;
    font-size: 36px;
    text-decoration: none;
    font-family: 'Logo_Font_FingerpaintRegular', cursive; 
}
.category-text {
    width:100%;
}
/*.category-box a:hover {
    color:#3498db;
}*/
.sport {
    background-image: url('../img/categories/sport_category.jpg');
}
.music {
    background-image: url('../img/categories/music_category.jpg');
}
.arts {
    background-image: url('../img/categories/arts.jpg');
}
.computer {
    background-image: url('../img/categories/computer.jpg');
}
.travel {
    background-image: url('../img/categories/travel.jpg');
}
.cooking {
    background-image: url('../img/categories/cooking.jpg');
}
.ecocomics {
    background-image: url('../img/categories/finances.jpg');
}
.languages {
    background-image: url('../img/categories/languages.jpg');
}
.school {
    background-image: url('../img/categories/school.jpg');
}

.introduction {
    width: 100%;
    min-height: 60vh;
    background-color: #f4f5ee;
    color: black;
    text-align: center;
    padding: 10px;
    overflow: auto;
    margin-top: 20px;
}
.intro {
    width: 95%;
    margin: 20px auto;
    overflow: auto;
}
.intro-left {
    margin-top: 10px;
    text-align: left;
    width: 40%;
    float: left;
}
.intro-right {
    margin-top: 10px;
    text-align: center;
    width: 60%;
    float: left;
}
.index-box {
    width: 100%;
    overflow: auto;
    margin-bottom: 20px;
}
.index-box img {
    float: left;
    padding: 5px 15px;
    width: 85px;
}
.introduction h1 {
    font-weight: 900;
    font-size: 40px;
}
.teacher {
    width: 100%;
    height: 60vh;
    background-color: lightblue;
    text-align: left;
    font-weight: bold;
    padding: 20px 70px;
    background-image: url('../img/categories/teacher-back.jpg');
    background-position: center;
    background-repeat: no-repeat;
}
.teacher h1,.teacher h2,.teacher p,.teacher ul,.teacher li { margin-bottom: 10px;}

footer {
    width: 100%;
    background-color: #f4f5ee;
    height: 20vh;
    color: black;
    display: flex;
    justify-content: space-between;
}
.aboutus {
    padding: 10px;
    height: 100%;
    width: 300px;
}
.copyright {
    width: 100%;
    height: 20px;
    padding: 5px;
    color: #c8c8c8;
    text-align: center;
}
.container h1 {
  font-size: 40px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-put;
          transition-timing-function: ease-in-put;
  font-weight: 200;
}
.container a {
    color: #000;
    text-decoration: none;
}
/*form {
  padding: 5px 0;
  position: relative;
  z-index: 2;
}
form input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 0 auto 7px auto;
  text-align: center;
  font-size: 14px;
  color: black;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 300;
  border: 1px solid black;
}

form input:hover {
  background-color: #47b7b7;
}
form input:focus {
  background-color: lightcyan;
  width: 300px;
  color: #53e3a6;
}

form button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background-color: #47b7b7;
  border: 0;
  padding: 10px 15px;
  color: #fff;
  border-radius: 3px;
  width: 150px;
  cursor: pointer;
  font-size: 14px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
form button:hover {
  background-color: #f5f7f9;
}*/
#logo {
    float:left;
    padding: 5px;
}
#login {
    float:right;
    padding: 5px;
}
.nav {
  position:relative;
  display:inline-block;
  font-size:14px;
  font-weight:900;
  width: 100%;
}
.nav-list {
  
}
.nav-item {
  float:left;
  *display:inline;
  zoom:1;
}
.nav ul {
    list-style-type: none;
}
.nav ul li a{
    text-decoration: none;
}
.nav-item a {
  display:block;
  padding:15px 20px;
  color:#47b7b7;
}
.nav-item:first-child a {
  border-radius:5px 0 0 5px;
}
.nav-item:last-child a {
  border-radius:0 5px 5px 0;
}
.nav-item a:hover {
  background:#c2f5f5;
}
.login-right {
    float: right;
}
/* Mobile Navigation */
.nav-mobile {
	display:none; /* Hide from browsers that don't support media queries */
	cursor:pointer;
	position:absolute;
	top:0;
	right:0;
    /*background-image: url('../img/lesson_icon.svg');
	background-size: 40px 40px;*/
	background:#47b7b7 url(../img/menu_icon.png) no-repeat center center;
	height:60px;
	width:60px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -160px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
  left: 10%;
}
.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
}
.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;

  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}

	.widget.contact ul {
		overflow: hidden;
		position: relative;
		left: -4px;
		top: 4px;
		margin-bottom: 1.5em;
	}

		.widget.contact ul li {
			display: inline-block;
			margin-right: 0.25em;
		}

			.widget.contact ul li a {
				-moz-transition: background-color .25s ease-in-out;
				-webkit-transition: background-color .25s ease-in-out;
				-ms-transition: background-color .25s ease-in-out;
				transition: background-color .25s ease-in-out;
				display: inline-block;
				width: 2.5em;
				height: 2.5em;
				text-align: center;
				line-height: 2.5em;
				border-radius: 0.35em;
				outline: 0;
				opacity: 0.75;
				text-decoration: none;
				background: #222222;
			}

				.widget.contact ul li a:before {
					color: #f3f3f3;
					font-size: 1.75em;
					line-height: 1.5em;
				}

				.widget.contact ul li a:hover {
					background: #444444;
				}

				.widget.contact ul li a:active {
					background: #666666;
				}

.widget.links {
}

.icon {
		position: relative;
		text-decoration: none;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}
@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}


.button-link {
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	width: 150px;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #47b7b7;
	color:white;
	font-size:14px;
	padding: 10px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
    text-decoration: none;
}
.button-link:hover {
    background: #37a1a1;
    border: solid 1px #2A4E77;
    text-decoration: none;
}
.button-link:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2a8080;
    border: solid 1px #203E5F;
}


@media only screen and (min-width: 320px) and (max-width: 768px) {
    body {
        width: 100%;
    }
    #logo {
        /*float: none;
        clear: both;
        padding: 5px;*/
        position: absolute;
        top: 10px;
        left: 10px;
    }
    #login {
        float: none;
        clear: both;
        padding: 5px;
    }
    .wrapper {
        margin-top: 15px;
        height: 150px;
        overflow: auto;
    }
    #button-blue {
        width: 100px;
    }
	.nav-mobile {
		display:block;
	}
	.nav {
		width:100%;
		padding:40px 0 0;
	}
	.nav-list {
		display:none;
	}
	.nav-item {
		width:100%;
		float:none;
	}
	.nav-item a {
		background:#47b7b7;
		padding:10px;
        color: white;
	}
	.nav-item:first-child a {
		border-radius:5px 0 0;
	}
	.nav-item:last-child a {
		border-radius:0 0 5px 5px;
	}
	.nav-active {
		display:block;
	}
	.nav-mobile-open {
		border-radius:5px 5px 0 0;
		-webkit-border-radius:5px 5px 0 0;
		-moz-border-radius:5px 5px 0 0;
	}
    .search {
        height: 100%;
        max-height: 150px;
        overflow: auto;
    }
    .search-box {
        width: 60%;
        margin: auto;
    }
    .search-box.les {
        width: 60%;
        margin: auto;
    }
    #search_bar {
        clear: both;
    }
    .category-box {
        width: 45%;
    }
    .dropdowns {
        display: none;
    }
    .intro-left, .intro-right {
        float: none;
        width: 100%;
    }
    .description {
    width: 100%;
    float: left;
    border-left: 0;
    border-top: 1px solid #bababa;

    }
    .price {
        width: 30%;
        margin-top: -55%;
    }

}