@model List<MySensei.Models.AppCourse>
@{
    ViewBag.Title = "Index";
}

<h2>Welcome, @User.Identity.Name !</h2>
@foreach (var obj in Model)
{
    <p>Name: @obj.Headline</p>
}


@Html.ActionLink("Sign Out ", "Logout", "Account", null, new { @class = "btn btn-primary" })


