@{
    ViewBag.Title = "Index";
}

<h1>You teach</h1>
<div>
@Html.ActionLink("Create new", "Create", "Course", new { area = "" }, null)

</div>
@Html.Action("_CoursesTeachedByCurrentUser", "Utility", new { area = "" })



