@using MySensei.Models
@model IEnumerable<MySensei.Models.AppCourse>

@{
    Layout = "~/Views/Shared/_FrontPage.cshtml";
}
@{ ViewBag.Title = "MySensei | Lessons";}

@Html.Partial("~/Views/Shared/_FrontPageNav.cshtml");

<div class="wrapper les">
    <div class="search-box">
        <div id="search_bar.les">
            @using (Html.BeginForm("Lessons", "FrontPage"))
            {
                <p class="name">
                    @Html.TextBox("searchString", "Search Lessons", new { @class = "feedback-input" })
                    <input type="submit" value="Search" id="button-blue" />
                </p>
            }
        </div>

    </div>
</div>
<div class="dropdowns">
    something
</div>
<div class="title"><h1>@ViewBag.CategName.Category</h1></div>

<div class="courses-cont">
    @foreach (AppCourse obj in Model)
    {
        @Html.Partial("~/Views/Shared/_CourseInfoBox.cshtml", obj);
    }
</div>