@model MySensei.Models.AppCourse

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AppCourse</h4>
    <hr />
    @Html.Partial("~/Views/Shared/_CourseDetails.cshtml", Model)


</div>