@model MySensei.Models.AppCourse
@{
    ViewBag.Title = "SignUpForCourse";
}

<h2>Sign Up Confirmation</h2>
<p>You are now signed up for course: </p>

@Html.Partial("~/Views/Shared/_CourseDetails.cshtml", Model)




